*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: silver;
}
#container{
    width: 420px;
    max-width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
}
#heading{
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    opacity: 60%;
    margin-bottom: 20px;
}
#Password-Difficulty-heading{
    font-size: 18px;
    font-weight: 540;
    opacity: 60%;
}
#difficultie-level-section{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-top: 10px;
}
.level-btns{
    font-size: 18px;
    padding: 6px 12px;
    width: 110px;
    border: none;
    border-radius: 4px;
    background-color: rgb(63, 63, 177);
    color: white;
    transition: background-color 0.6s ease;
}
.level-btns:hover{
    background-color: rgb(91, 91, 168);
}
.level-btns:active{
    scale: 0.93;
}
#customize-heading{
    font-size: 22px;
    margin-top: 10px;
    opacity: 60%;
}
#length-label{
    font-size: 18px;
    margin-top: 10px;
    opacity: 60%;
}
#length{
    width: 80%;
    margin-bottom: 10px;
}
#output-section{
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}
#password-output{
    width: 80%;
    background-color: silver;
    padding: 10px;
    margin: auto;
    text-align: center;
}
label{
    opacity: 70%;
}
#copy-btn{
    width: 60px;
    background-color: silver;
    border: none;
}
#generate-btn{
    margin: auto;
    /* width: 120px; */
    /* height: 40px; */
    border: none;
    border-radius: 4px;
    background-color: green;
    text-align: center;
    display: block;
    color: white;
    font-size: 18px;
    padding: 10px;
}
#generate-btn:hover{
    background-color: rgb(49, 144, 49);
}
#generate-btn:active{
    scale: 0.93;
}

