*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: verdana;
}
html,body{
    width: 100%;
    height: 100%;
}
#container{
    width: 520px;
    max-width: 90vw;
    height: 70vh;
    background: linear-gradient(135deg,red,yellow,orange, blue);
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    padding: 30px;
}
#score-board{
    width: 100%;
    height: auto;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
}
.player-scores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.lebel-div{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lebel-div h2{
    font-size:45px;
    font-weight: 200;
}
#message{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
#guessed-number{
    display: block;
    margin: auto;
    width: 220px;
    height: 80px;
    font-size: 23px;
    text-align: center;
}
#detail{
    text-align: center;
    font-size: 12px;
    margin: 20px;
}
#controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}
.ctrl-btns{
    width: 180px;
    height: 50px;
    margin: auto;
    display: block;
    border: none;
    border-radius: 10px;
    background-color: rgb(83, 174, 219);
    transition: background-color 0.5s;
}
.ctrl-btns:hover{
    background-color: rgb(48, 228, 228);
}
.ctrl-btns:active{
    scale: 0.95;
}
#disclaimer{
    margin-top: 40px;
    text-align: center;
}